/* ------------------------------------ INDEX.HTML ------------------------------------- */
@media (max-width: 1300px){
    .wrap{
        width: 80% !important;
    }
    header .bot-head .nav-menu .menu-item a{
        font-size: 17px;
    }
    #body .wrap-box .title-box::after{
        display: none;
    }
}
@media (max-width: 1000px){
    .wrap{
        width: 90% !important;
    }
    header .bot-head .nav-menu .menu-item a{
        font-size: 15px;
    }
    header .bot-head .nav-menu .menu-item{
        padding: 5px 15px;
    }
    #body .wrap-box .content-box .post-body .list-post .post-item .info .post-title a{
        font-size: 19px;
    }
    #body .wrap-box .content-box .post-body .list-post .post-item .info .post-excerpt{
        font-size: 11px;
    }
}
@media (max-width: 750px) {

    .wrap {
        width: 90% !important;
    }
    #body .wrap-box .swiper a h3 {
        font-size: 17px;
    }
    header .bot-head .nav-menu .menu-item {
        padding: 5px 8px;
    }
    header .bot-head .nav-menu .menu-item a {
        font-size: 14px;
    }
    #body .wrap-box .title-box h3 {
        font-size: 16px;
    }
    #body .wrap-box .content-box .post-body .list-post .post-item .info .post-title a {
        font-size: 18px;
    }
    #body .wrap-box .content-box {
        flex-direction: column;
    }
    #body .wrap-box .content-box .post-body {
        width: 100%;
    }
    #body .wrap-box .content-box .sidebar {
        width: 100%;
    }
    .entertain {
        width: 50%;
    }
    #body .wrap-box .content-box .post-body .list-post .post-item .info .post-excerpt {
        font-size: 12px;
    }
    .follow-us {
        padding: 52px 0px 132px 50px;
    }
    
}
@media (max-width:450px){
    #body .wrap-box .content-box .post-body .list-post .post-item img {
        max-width: 140px;
        margin-right: 10px;
    }
    #body .wrap-box .content-box .post-body .list-post .post-item .info .post-excerpt{
        display: none;
    }
    #body .wrap-box .content-box .post-body .list-post .post-item .info .post-title a{
        font-size: 16px;
    }
    .entertain {
        width: 100%;
    }
    footer .box-footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo-footer img {
        width: 70%;
        padding: 35px 0px;
    }
    .follow-us {
        padding: 15px 0px;
    }
    .follow-us .box-head{
        width: 150px;
    }
    .follow-us .box-head h3{
        margin-bottom: 12px;
    }
    .end-wp{
        flex-direction: column;
    }
    .end-wp p{
        margin-bottom: 0px;
    }


    header .bot-head .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        height: 100%;
        width: 60%;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: #23282d;
        padding-top: 50px;
        transition: all .3s;
        transform: translateX(100%);
    }
    header .bot-head .nav-menu .menu-item{
        padding-left: 15px;
        width: 100%;
        border-bottom: 1px solid #5c5c5cab;
        padding-bottom: 15px;
    }
    header .bot-head .nav-menu .menu-item:first-of-type{
        display: none;
    }
    header .bot-head .nav-menu .menu-item:last-child{
        border-bottom: 0px;
    }
    .fa-xmark{
        display: block;
        color: #fff;
        font-size: 28px;
        position: absolute;
        left: 15px;
        top: 10px;
    }
    .nav-bar{
        display: block;
        padding-left: 10px;
        font-size: 24px;
    }
    header .top-head .box-search{
        display: flex;
        align-items: center;
    }
    header .top-head .box-search input{
        width: 140px;
    }
    header .top-head .box-search i.fa-magnifying-glass{
        right: 34px;
    }
    
}
